<?php

$finder = \PhpCsFixer\Finder::create()
    ->exclude(array(__DIR__.DIRECTORY_SEPARATOR.'tests/vendor'))
    ->in(__DIR__.DIRECTORY_SEPARATOR.'src')
    ->in(__DIR__.DIRECTORY_SEPARATOR.'tests')
    ->in(__DIR__.DIRECTORY_SEPARATOR.'bin')
    ->append(array('.php_cs.dist'));

$rules = array(
    '@Symfony' => true,
    'array_syntax' => array('syntax' => 'long'),
    'phpdoc_no_empty_return' => false,
    'yoda_style' => false,
);

if (PHP_VERSION_ID < 50400) {
    $rules['pre_increment'] = false;
} else {
    $rules['increment_style'] = array('style' => 'post');
}

return \PhpCsFixer\Config::create()
    ->setUsingCache(true)
    ->setRules($rules)
    ->setFinder($finder);
