<?php

$finder = \PhpCsFixer\Finder::create()
    ->in(__DIR__ . DIRECTORY_SEPARATOR . 'src')
    ->in(__DIR__ . DIRECTORY_SEPARATOR . 'tests')
;

return \PhpCsFixer\Config::create()
    ->setUsingCache(true)
    ->setRules(array(
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'long'],
        'increment_style' => ['style' => 'post'],
    ))
    ->setFinder($finder)
;
