includes:
    - tests/QualityTools/vendor/phpstan/phpstan-strict-rules/rules.neon
    - tests/QualityTools/vendor/localheinz/phpstan-rules/rules.neon
    - tests/QualityTools/vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    level: 0
    excludes_analyse:
        - tests/
        - src/Http/Psr7/
        - src/Http/Php53HttpClient.php
    paths:
        - src
        - autoload.php
    ignoreErrors:
        - '#In (method|function).*type-hinted.*More info#'
        - '#In (method|function).*return type can be added..*More info#'
        - '#(Method|Function|Constructor).*has parameter.*with.*default value.#'
        - '#In (method|function).*parameter.*is "array". Please provide a more specific @param.*#'
        - '#Only booleans are allowed in &&, mixed given on the right side.#'
        - '#Construct empty\(\) is not allowed. Use more strict comparison.#'
        - '#Thrown exceptions in a catch block must bundle the previous exception#'
        - '#Function dump not found.#'
        - '#Class.*is neither abstract nor final#'
        - '#.*unknown.*GuzzleHttp\\.*.#'
        - '#.*GuzzleHttp\\.*not found.#'
        - '#.*invalid.*type GuzzleHttp\\.*.#'
        - '#Casting to string something that#'
