<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="community">
            <directory>tests/</directory>
            <exclude>./tests/AlgoliaSearch/Tests/SecurityTest.php</exclude>
            <exclude>./tests/AlgoliaSearch/Tests/SecurityNewNamingTest.php</exclude>
        </testsuite>
        <testsuite name="all">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <file>systemlib.phpreflection_hni</file>
        </blacklist>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="coverage.cov"/>
    </logging>
</phpunit>
