# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2.1


executors:
  php-docker: # declares a reusable executor
    parameters:
      version:
        description: "PHP version tag"
        type: string
    docker:
        - image: circleci/php:<<parameters.version>>

jobs:
  test:
    parameters:
      version:
        description: "PHP version tag"
        type: string
      http_client:
        description: "PHP Client"
        type: string

    executor:
      name: php-docker
      version: <<parameters.version>>

    steps:
      - checkout

      - run: sudo apt update
      - run: sudo docker-php-ext-install zip

      # Download and cache dependencies
      - restore_cache:
          keys:
            - composer-deps-<<parameters.version>>-{{ checksum "composer.json" }}
            # fallback to using the latest cache if no exact match is found
            #- composer-deps-

      - run: composer install -n --prefer-dist

      - save_cache:
          key: composer-deps-<<parameters.version>>-{{ checksum "composer.json" }}
          paths:
            - ./vendor

      - run:
          name: Install PHP Client
          command: |
            if [ "<<parameters.http_client>>" == "legacy" ]
            then
               echo "Nothing to install, using default Algolia\AlgoliaSearch\Http\Php53HttpClient"
            else
              composer require <<parameters.http_client>>
            fi

      - run:
          name: Get API Key Dealer client
          command: wget https://alg.li/algolia-keys && chmod +x algolia-keys

      - run:
          name: Check code styles
          command: vendor/bin/php-cs-fixer fix -v --dry-run

      # Run tests with phpunit
      #
      # If the PR is open by an Algolia, we run all the tests
      # with the keys in the env variables
      # If the PR was open from a fork (community PR)
      # we get API keys from the API key dealer https://alg.li/api-key-dealer
      - run:
          name: Run tests
          command: |
            export CI_BUILD_NUM=$CIRCLE_BUILD_NUM
            if [ -z ${CIRCLE_PR_REPONAME+x} ]
            then
               php vendor/bin/phpunit
            else
              export CI_PROJ_USERNAME=$CIRCLE_PROJECT_USERNAME
              export CI_PROJ_REPONAME=$CIRCLE_PROJECT_REPONAME

              eval $(./algolia-keys export) && php vendor/bin/phpunit -v --testsuite Unit,Definition,Community
            fi

      - run:
          name: Autoloading without Composer
          command: |
            export CI_BUILD_NUM=$CIRCLE_BUILD_NUM
            if [ -z ${CIRCLE_PR_REPONAME+x} ]
            then
               php vendor/bin/phpunit
            else
              export CI_PROJ_USERNAME=$CIRCLE_PROJECT_USERNAME
              export CI_PROJ_REPONAME=$CIRCLE_PROJECT_REPONAME

              eval $(./algolia-keys export) && php tests/tests-no-composer.php
            fi


workflows:
  workflow:
    jobs:
      - test:
          name: "nightly - Guzzle 7"
          version: "latest"
          http_client: guzzlehttp/guzzle:"^7.0"
      - test:
          name: "PHP 7.4 - Guzzle 7"
          version: "7.4"
          http_client: guzzlehttp/guzzle:"^7.0"

      - test:
          name: "PHP 7.4 - Guzzle 6"
          version: "7.4"
          http_client: guzzlehttp/guzzle:"^6.0"
      - test:
          name: "PHP 7.0 - Guzzle 6"
          version: "7.0"
          http_client: guzzlehttp/guzzle:"^6.0"
      - test:
          name: "PHP 5.6 - Guzzle 6"
          version: "5.6"
          http_client: guzzlehttp/guzzle:"^6.0"

      - test:
          name: "nightly - legacy"
          version: "latest"
          http_client: legacy
      - test:
          name: "PHP 7.4 - legacy"
          version: "7.4"
          http_client: legacy
      - test:
          name: "PHP 7.0 - legacy"
          version: "7.0"
          http_client: legacy
      - test:
          name: "PHP 5.6 - legacy"
          version: "5.6"
          http_client: legacy
