{{#isFirstLevel}}{{#isString}}"{{{value}}}"{{/isString}}
{{#isInteger}}{{{value}}}{{/isInteger}}
{{#isDouble}}{{{value}}}{{/isDouble}}
{{#isLong}}{{{value}}}{{/isLong}}
{{#isBoolean}}{{{value}}}{{/isBoolean}}
{{#isEnum}}"{{{value}}}"{{/isEnum}}
{{#isArray}}[{{#value}}{{> generateParams}}{{/value}}]{{/isArray}}
{{#isObject}}[{{#value}}{{> generateParams}}{{/value}}]{{/isObject}}
{{#isFreeFormObject}}[{{#value}}{{> generateParams}}{{/value}}]{{/isFreeFormObject}}
{{^-last}},{{/-last}}
{{/isFirstLevel}}
{{^isFirstLevel}}
{{^hasGeneratedKey}}"{{{key}}}" => {{/hasGeneratedKey}}
{{#isString}}"{{{value}}}",{{/isString}}
{{#isInteger}}{{{value}}},{{/isInteger}}
{{#isDouble}}{{{value}}},{{/isDouble}}
{{#isLong}}{{{value}}},{{/isLong}}
{{#isBoolean}}{{{value}}},{{/isBoolean}}
{{#isEnum}}"{{{value}}}",{{/isEnum}}
{{#isArray}}[{{#value}}{{> generateParams}}{{/value}}],{{/isArray}}
{{#isObject}}[{{#value}}{{> generateParams}}{{/value}}],{{/isObject}}
{{#isFreeFormObject}}[{{#value}}{{> generateParams}}{{/value}}],{{/isFreeFormObject}}
{{/isFirstLevel}}